.services{
    margin-top: 120px;
    .services-icon{
        i{
            font-size: 40px;
            color: $blueColor;
        }
    }
    .container{
        @include for-phone{
           width: 100%;
        }
        @include for-tablet{
            width: 100%;
        }
        @include for-laptop{
            width: 100%;
        }
        @include for-large-desktop{
            width: 100%;
        }
    }
 
}