.team{
    margin-top: 120px;
    .col-md-7{
        span{
              font-family: 'Dancing Script', cursive;
        font-weight: 600;
        font-size: 24px;
        }
      
    }
}
.people{
    position: relative;
}
.image-zoom{
  
    overflow: hidden;
    img{
        transition: 0.3s;
    }
    &:hover img{
        transform: scale(1.1);
    }
}
.people-about{

    @extend %center-div;
    justify-content: center;
    flex-direction: column;
    span{
        color: $blueColor;
        
    }
}
.icons{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 50px;
  
    top: 30%;
    left: 10px;
 
 

   .icon-center{
  
      i{
    margin-top: 10px;
     background-color: $whiteColor;  
      width: 40px;    
     justify-content: center;
     @extend %center-div;
     height: 40px; 
      color:$blueColor;
    &:hover{
 
 background-color:$blackColor;
 color: $whiteColor;
    }
   }
     
 
        
   }
}