.footer-link{
    display: block;
    a{
        &:hover{
            text-decoration: underline;
            transition: 0.3s;
        }
    }
    
}
footer .end{
    text-align: center;
    margin-top: 120px;
}
footer{
    .row{
       
        justify-content: center;
        display: flex;
    }
    background-color:$footorColors;
    padding: 100px 0;
    h4{
        text-align: center;
        @include for-phone{
            text-align: left!important;
        }
        @include for-tablet{
            text-align: left!important;
        }
        @include for-laptop{
            text-align: left!important;
        }
        @include for-large-desktop{
            text-align: left!important;
        }
    }

}